html, body {
    background-color: #161616 !important;
}

h4 {
    color: #EE4622;
}

.btnRegis {
    width: 100px;
    height: 30px;
    left: 1289px;
    top: 27px;

    background: #EE4622 !important;
    border-radius: 5px;
    border: none !important;
}

.regisName {
    margin-top: -1px;
    font-size: 12px;
}

.btnRegis:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btnLogin {
    width: 100px;
    height: 30px;
    left: 1174px;
    top: 27px;

    border: 1px solid #FFFFFF !important;
    box-sizing: border-box;
    border-radius: 5px;
}

.btnLogin:focus {
    outline: none !important;
    box-shadow: none !important;
}

.iconLike {
    margin-top: 10px;
    font-size: 13px;
    cursor: pointer;
}

.logName {
    margin-top: -1px;
    font-size: 12px;
}

.banner {
    background-image: url(../assets/Rectangle\ 1.png);
    width: 100%;
    height: 512px;
    background-size: cover;
    z-index: 99999;
}

.cursorin {
    cursor: pointer;
}

.textBeranda {
    text-align: center !important;
    color: #FFFFFF;
}

.jumbotronText {
    padding-top: 160px;
}

.conn {
    font-weight: normal !important;
    padding-bottom: 10px;
    font-size: 48px;
}

.dis {
    font-size: 24px;
    line-height: 29px;
    font-weight:  lighter !important;
}

.titleCard {
    display: flex;
    margin-left: -15px;
    margin-top: -7px !important;
}

.artis {
    font-size: 14px;
}

.year {
    font-size: 11px;
    display: flex;
    margin-left: 94%;
    margin-top: 2px;
}

.dengarkan {
    text-align: center;
    padding-top: 30px;
    color: #EE4622;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
}

.cardSong {
    background-color: #161616;
}

.cardThumb {
    border: 7px solid #3A3A3A !important;
    background-color: #3A3A3A !important;
    /* cursor: pointer; */
}

.cardThumb:hover {
    box-shadow: 1px 1px 2px 2px rgb(51, 51, 51);
    box-shadow: -1px -1px -1px 3px rgb(51, 51, 51);
}

.cardBody {
    background-color: #3A3A3A !important;
    color: white;
}

.ant-popover-inner {
    background-color: rgb(39, 39, 39) !important;
    padding-top: 5px !important;
}

.ant-popover {
    position: fixed;
}

.imageThumb {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
    cursor: pointer;
}

.boCardImage {
    width: 157px !important;
    height: 150px !important;
    background-color: rebeccapurple;
    overflow: hidden !important;
}

.textThumb {
    margin-top: -20px;
    font-size: 11px;
    margin-left: -15px;
}

::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    background: #232323;  
}
 
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 5px;    
}

.boxProfile {
    width: 39px;
    height: 39px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.imageProfile {
    width: 35px !important;
    height: 35px !important;
    border-radius: 50% !important;
    margin-left: 2px;
    margin-top: 2px;
}

.rhap_container  {
    background-color: #232323 !important;
    margin-bottom: -10px !important;
    height: 85px !important;
    border: 5px solid #232323;
    line-height: 10;
    box-shadow: none !important;
}

.rhap_progress-filled, .rhap_progress-indicator, .rhap_volume-indicator {
    background-color: tomato !important;
}

.imagmusci {
    margin-bottom: -9px !important;
}

.rhap_time {
    color: white !important;
}

.linkProfile {
    text-decoration: none !important;
}

.iconLogout {
    color: #EE4622;
}

.bg.scrolled {
    background-color: #232323 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.avatarProfile {
    border-radius: 20px !important;
    cursor: pointer;
}

.rhap_progress-section {
    margin-top: -40px;
}

.rhap_main-controls {
    height: 10px !important;
}

.rhap_button-clear {
    height: 40px !important;
}

.rhap_main-controls svg {
    height: 40px !important;
    width: 25px !important;
    color: white !important;
}

.rhap_repeat-button svg {
    height: 18px !important;
    width: 18px !important;
}

.rhap_volume-button svg {
    height: 20px !important;
    width: 20px !important;
    color: white !important;
}

.rhap_volume-bar-area, .rhap_volume-bar{
    height: 2px !important;
}

.rhap_volume-indicator {
    height: 10px !important;
    width: 10px !important;
}

.rhap_time {
    font-size: 10px !important;
}

.rhap_progress-bar {
    height: 3px !important;
}

.rhap_progress-indicator {
    height: 12px !important;
    width: 12px !important;
    margin-top: 3px !important;
}

.rhap_progress-section {
    margin-top: -5px !important;
}

.rhap_container {
    height: 70px !important;
}

.rhap_controls-section {
    margin-top: -8px !important;
}

.boxMusicThumb {
    width: 250px !important;
    height: 70px;
    background-color: #232323 !important;
    margin-top: -10px;
    margin-bottom: -20px;
    border: 5px solid #232323;
    display: flex;
}

.judulMusic {
    margin-left: 65px;
    font-size: 13px;
    margin-top: -15px;
    position: absolute;
}

.navPlay {
    padding-left: 50px !important;
    padding-right: 50px !important;
    background-color: #232323 !important;
    height: 70px !important;
}

.rhap_horizontal {
    margin-top: 7px !important;
}

.boxthumb {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.boxTitle {
    width: 90% !important;
    height: 18px;
    position: absolute;
    overflow-y: hidden;
}

option {
    background-color: #181818 !important;
}

option.decorated option:hover {
    box-shadow: 0 0 10px 100px rgba(210, 210, 210, 0.25) inset !important;
}

.imagmusci {
    object-fit: cover;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    border-radius: 50px;
}


@media (max-width : 573px) {
    .boxthumb {
        width: 100%;
        height: 250px !important;
        overflow: hidden;
    }

    .cardBody {
        background-color: #3A3A3A !important;
        color: white;
    }

    .cardThumb {
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width : 953px) {
    .rhap_progress-section {
        margin-top: -2px !important;
    }

    .rhap_controls-section {
        margin-top: -5px !important;
    }

    .judulMusic {
        margin-left: 65px;
        font-size: 13px;
        margin-top: -30px;
        position: absolute;
    }
}
